<!-- write your code here -->
<html>

<head>
    <title>Beranda</title>
    <link rel="stylesheet" href="asset/css/style.css">
</head>

<body>
    <header class="header">
        <div class="judul">
            <h1> KOPI </h1>
            <h5> Minuman Hasil Seduhan Biji Kopi Yang Telah Disangrai Dan Dihaluskan Menjadi Bubuk</h5>
        </div>
        <nav class="menu">
            <ul>
                <li><a href="index.html"> Beranda </a></li>
                <li class="dropdown"><a href="tentang_kopi.html"> Tentang Kopi </a>
                    <ul class="isi-dropdown">
                        <li><a href="#etimologi"> etimologi </a></li>
                        <li><a href="#sejarah"> Sejarah </a></li>
                        <li><a href="#pembuatan"> Pembuatan </a></li>
                        <li><a href="#jenis"> Jenis Kopi </a></li>
                        <li><a href="#manfaat"> Manfaat Kopi </a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>

    <article class="container">
        <section class="box1">
            <h2> Tentang Kopi </h2>
            <img class="gambar1" src="asset/image/kopi.jpg" alt="Biji Kopi" title=" Tentang Kopi" width="30%">
            <p>
                Kopi adalah minuman hasil seduhan biji kopi yang telah disangrai dan dihaluskan menjadi bubuk. Kopi
                merupakan salah satu komoditas di dunia yang dibudidayakan lebih dari 50 negara.
                Dua varietas pohon kopi yang dikenal secara umum yaitu Kopi Robusta (Coffea canephora) dan Kopi Arabika
                (Coffea arabica).
            </p>
            <p>
                Pemrosesan kopi sebelum dapat diminum melalui proses panjang yaitu dari pemanenan biji kopi yang telah
                matang baik dengan cara mesin maupun dengan tangan kemudian dilakukan pemrosesan
                biji kopi dan pengeringan sebelum menjadi kopi gelondong. Proses selanjutnya yaitu penyangraian dengan
                tingkat derajat yang bervariasi. Setelah penyangraian, biji kopi digiling atau
                dihaluskan menjadi bubuk kopi sebelum kopi dapat diminum.
            </p>
            <p>
                Sejarah mencatat bahwa penemuan kopi sebagai minuman berkhasiat dan berenergi pertama kali ditemukan
                oleh Bangsa Etiopia di benua Afrika sekitar 3000 tahun (1000 SM) yang lalu.
                Kopi kemudian terus berkembang hingga saat ini menjadi salah satu minuman paling populer di dunia yang
                dikonsumsi oleh berbagai kalangan masyarakat.[butuh rujukan] Indonesia sendiri
                telah mampu memproduksi lebih dari 400 ribu ton kopi per tahunnya.Disamping rasa dan aromanya yang
                menarik, kopi juga dapat menurunkan risiko terkena penyakit kanker, diabetes, batu empedu,
                dan berbagai penyakit jantung (kardiovaskuler).
            </p>

            <div class="a1">
                <a class="a1" href="tentang_kopi.html"> Selengkapnya </a>
            </div>
        </section>
    </article>

    <aside>
    </aside>

    <footer>
        <p style="text-align: center;"> Dev By Salwa Az-Zahra Munir &#169; 2022 </p>
    </footer>
</body>

</html>