<html>

<head>
    <title> Tentang Kopi </title>
    <link rel="stylesheet" href="asset/css/style.css">
</head>

<body>
    <header class="header">
        <div class="judul">
            <h1> KOPI </h1>
            <h5> Minuman Hasil Seduhan Biji Kopi Yang Telah Disangrai Dan Dihaluskan Menjadi Bubuk</h5>
        </div>
        <nav class="menu">
            <ul>
                <li><a href="index.html"> Beranda </a></li>
                <li class="dropdown"><a href="tentang_kopi.html"> Tentang Kopi </a>
                    <ul class="isi-dropdown">
                        <li><a href="#etimologi"> etimologi </a></li>
                        <li><a href="#sejarah"> Sejarah </a></li>
                        <li><a href="#pembuatan"> Pembuatan </a></li>
                        <li><a href="#jenis"> Jenis Kopi </a></li>
                        <li><a href="#manfaat"> Manfaat Kopi </a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>

    <article class="container">
        <section class="card">
            <h2> Tentang Kopi </h2>
            <img class="gambar" src="asset/image/kopi.jpg" alt="Biji Kopi" title=" Tentang Kopi">
            <p>
                Kopi adalah minuman hasil seduhan biji kopi yang telah disangrai dan dihaluskan menjadi bubuk. Kopi
                merupakan salah satu komoditas di dunia yang dibudidayakan lebih dari 50 negara.
                Dua varietas pohon kopi yang dikenal secara umum yaitu Kopi Robusta (Coffea canephora) dan Kopi Arabika
                (Coffea arabica).
            </p>
            <p>
                Pemrosesan kopi sebelum dapat diminum melalui proses panjang yaitu dari pemanenan biji kopi yang telah
                matang baik dengan cara mesin maupun dengan tangan kemudian dilakukan pemrosesan
                biji kopi dan pengeringan sebelum menjadi kopi gelondong. Proses selanjutnya yaitu penyangraian dengan
                tingkat derajat yang bervariasi. Setelah penyangraian, biji kopi digiling atau
                dihaluskan menjadi bubuk kopi sebelum kopi dapat diminum.
            </p>
            <p>
                Sejarah mencatat bahwa penemuan kopi sebagai minuman berkhasiat dan berenergi pertama kali ditemukan
                oleh Bangsa Etiopia di benua Afrika sekitar 3000 tahun (1000 SM) yang lalu.
                Kopi kemudian terus berkembang hingga saat ini menjadi salah satu minuman paling populer di dunia yang
                dikonsumsi oleh berbagai kalangan masyarakat. Indonesia sendiri
                telah mampu memproduksi lebih dari 400 ribu ton kopi per tahunnya.Disamping rasa dan aromanya yang
                menarik, kopi juga dapat menurunkan risiko terkena penyakit kanker, diabetes, batu empedu,
                dan berbagai penyakit jantung (kardiovaskuler).
            </p>
        </section>

        <section id="etimologi" class="card">
            <h2> Etimologi </h2>
            <p>
                Kata kopi sendiri awalnya berasal dari bahasa Arab: قهوة‎ qahwah yang berarti kekuatan, karena pada
                awalnya kopi digunakan sebagai makanan berenergi tinggi. Kata qahwah kembali mengalami
                perubahan menjadi kahveh yang berasal dari bahasa Turki dan kemudian berubah lagi menjadi koffie dalam
                bahasa Belanda. Penggunaan kata koffie segera diserap ke dalam
                bahasa Indonesia menjadi kata kopi yang dikenal saat ini.
            </p>
        </section>

        <section id="sejarah" class="card">
            <h2> Sejarah </h2>
            <ul>
                <li>
                    <h4> Bermula di Afrika </h4>
                    <p>Era penemuan biji kopi dimulai sekitar tahun 800 SM, pendapat lain mengatakan 850 M. Pada saat
                        itu, banyak orang di Benua Afrika, terutama bangsa Etiopia, mengonsumsi biji kopi yang
                        dicampurkan dengan lemak hewan dan anggur untuk memenuhi kebutuhan protein dan energi tubuh.
                        Penemuan kopi sendiri terjadi secara tidak sengaja, ketika penggembala bernama Khalid—seorang
                        Abyssinia—mengamati kawanan kambing gembalaannya yang tetap terjaga bahkan setelah matahari
                        terbenam, setelah memakan sejenis buah beri. Ia pun mencoba memasak dan memakannya. Kebiasaan
                        ini kemudian terus berkembang dan menyebar ke berbagai negara di Afrika, namun metode
                        penyajiannya masih menggunakan metode konvensional. Barulah beberapa ratus tahun kemudian, biji
                        kopi
                        ini dibawa melewati Laut Merah dan tiba di Arab dengan metode penyajian yang lebih maju.
                    </p>
                </li>
                <li>
                    <h4> Penyebaran kopi di Arab </h4>
                    <p>
                        Bangsa Arab yang memiliki peradaban yang lebih maju daripada bangsa Afrika saat itu, tidak hanya
                        memasak biji kopi, tetapi juga direbus untuk diambil sarinya. Pada abad ke-13, umat Muslim
                        banyak mengonsumsi kopi sebagai minuman penambah energi saat beribadah di malam hari.
                        Kepopuleran kopi pun turut meningkat seiring dengan penyebaran agama Islam pada saat itu hingga
                        mencapai
                        daerah Afrika Utara, Mediterania, dan India.
                    </p>
                </li>
                <li>
                    <h4> Kopi mencapai pasar Eropa </h4>
                    <p>
                        Biji kopi dibawa masuk pertama kali ke Eropa secara resmi pada tahun 1615 oleh seorang saudagar
                        Venesia. Ia mendapatkan pasokan biji kopi dari orang Turki, namun jumlah ini tidaklah mencukupi
                        kebutuhan pasar.
                        Oleh kerena itu, bangsa Eropa mulai membudidayakannya. Bangsa Belanda adalah salah satu negara
                        Eropa pertama yang berhasil membudidayakannya pada tahun 1616. Kemudian pada tahun 1690, biji
                        kopi dibawa ke Pulau Jawa
                        untuk dikultivasi secara besar-besaran. Pada saat itu, Indonesia masih merupakan negara jajahan
                        Kolonial Belanda.
                    </p>
                </li>
                <li>
                    <h4> Mencapai ke Martinik, Prancis </h4>
                    <p>
                        Pada sekitar tahun 1714-an, Raja Prancis Louis XIV menerima sumbangan pohon kopi dari bangsa
                        Belanda sebagai pelengkap koleksinya di Kebun Botani Royal Paris, Jardin des Plantes. Pada saat
                        yang sama, serorang angkatan
                        laut bernama Gabriel Mathieu di Clieu ingin membawa sebagian dari pohon tersebut untuk dibawa ke
                        Martinique. Akan tetapi, hal tersebut ditolak oleh Louis XIV dan sebagai balasannya, ia memimpin
                        sejumlah pasukan untuk
                        menyelinap masuk ke dalam Jardin des Plantes untuk mencuri tanaman kopi.
                    </p>
                    <p>
                        Keberhasilan Gabriel Mathieu di Clieu membawa tanaman kopi ke Martinik merupakan suatu
                        pencapaian yang sangat besar. Hal ini dikarenakan budidaya tanaman kopi di sana cukup baik.
                        Hanya dalam kurun waktu 50 tahun,
                        telah terdapat kurang lebih 18 juta pohon kopi dengan varietas yang beragam. Progeni inilah yang
                        menjadi salah satu sumber dari kekayaan jenis kopi di dunia.
                    </p>
                </li>
                <li>
                    <h4> Bunga kopi untuk Brasil </h4>
                    <p>
                        Pada tahun 1727, pemerintah Brasil berinisiatif untuk menurunkan harga pasaran kopi di
                        daerahnya, karena pada saat itu kopi masih dijual dengan harga tinggi dan hanya bisa dinikmati
                        oleh kalangan elit.
                        Oleh karena itu, pemerintah Brasil mengirimkan agen khusus, Letnan Kolonel Francisco de Melo
                        Palheta, untuk menyelinap masuk ke Prancis dan membawa pulang beberapa bibit kopi. Perkebunan
                        kopi di Prancis
                        memiliki penjagaan yang sangat ketat sehingga hal tersebut tidak memungkinkan. Palheta pun
                        mencari jalan lain dengan cara mendekati istri gubernur. Sebagai hasil kerja kerasnya, ia
                        membawa pulang sebuah
                        buket berisi banyak biji kopi yang diberikan oleh istri gubernur seusai jamuan makan malam. Dari
                        pucuk-pucuk inilah bangsa Brasil berhasil membudidayakan kopi dalam skala yang sangat besar
                        sehingga bisa
                        dikonsumsi oleh semua orang.
                    </p>
                </li>
            </ul>
        </section>

        <section id="pembuatan" class="card">
            <h2> Pembuatan minuman kopi </h2>
            <p>
                Kopi yang dapat diminum akan menjalani serangkaian proses pengolahan yang panjang dari biji kopi untuk
                menjadi minuman kopi. Berbagai metode pengolahan biji kopi telah dicoba untuk menghasilkan minuman kopi
                terbaik.
                Dalam hal ini, proses penanaman juga turut berperan dalam menciptakan cita rasa kopi yang baik.
            </p>
            <ol>
                <li>
                    <h4> Pemanenan dan pemisahan cangkang </h4>
                    <p>
                        Tanaman kopi selalu berdaun hijau sepanjang tahun dan berbunga putih. Bunga ini kemudian akan
                        menghasilkan buah yang mirip dengan ceri terbungkus dengan cangkang yang keras. Hasil dari
                        pembuahan di bunga inilah yang disebut dengan biji kopi.
                        Pemanenan biji kopi biasanya dilakukan secara manual dengan tangan. Pada tahap selanjutnya, biji
                        kopi yang telah dipanen ini akan dipisahkan cangkangnya. Terdapat dua metode yang umum dipakai,
                        yaitu dengan pengeringan dan penggilingan dengan mesin.
                        Pada kondisi daerah yang kering biasanya digunakan metode pengeringan langsung di bawah sinar
                        matahari. Setelah kering maka cangkang biji kopi akan lebih mudah untuk dipisahkan. Di
                        Indonesia, biji kopi dikeringkan hingga kadar air tersisa hanya 30-35%
                        Metode lainnya adalah dengan menggunkan mesin. Sebelum digiling, biji kopi biasanya dicuci
                        terlebih dahulu. Saat digiling dalam mesin, biji kopi juga mengalami fermentasi singkat. Metode
                        penggilingan ini cenderung memberikan hasil yang lebih baik daripada metode pengeringan
                        langsung.
                    </p>
                </li>
                <li>
                    <h4> Pemanggangan </h4>
                    <p>
                        Setelah dipisahkan dari cangkangnya, biji kopi telah siap untuk masuk ke dalam proses
                        pemanggangan. Proses ini secara langsung dapat meningatkan cita rasa dan warna dari biji kopi.
                        Secara fisik, perubahan biji kopi terlihat dari pengeringan biji dan penurunan bobot secara
                        keseluruhan.
                        Pori-pori di sekeliling permukaan biji pun akan terlihat lebih jelas. Warna cokelat dari biji
                        kopi juga akan terlihat memekat.
                    </p>
                </li>
                <li>
                    <h4> Penggilingan </h4>
                    <p>
                        Pada tahap selanjutnya, biji kopi yang telah kering digiling untuk memperbesar luas permukaan
                        biji kopi. Dengan bertambah luasnya permukaan maka ekstraksi akan menjadi lebih efisien dan
                        cepat. Penggilingan yang baik akan menghasilkan rasa, aroma, dan penampilan yang baik.
                        Hasil penggilingan ini harus segera dimasukkan dalam wadah kedap udara agar tidak terjadi
                        perubahan cita rasa kopi.
                    </p>
                </li>
                <li>
                    <h4> Seni perebusan </h4>
                    <p>
                        Perebusan merupakan langkah akhir dari pengolahan biji kopi hingga siap dikonsumsi. Untuk
                        menciptakan minuman kopi yang bercita rasa tinggi, perebusan biji kopi harus dilakukan dengan
                        baik dan sempurna Terdapat banyak variabel dalam perebusan biji kopi,
                        antara lain komposisi biji kopi dan air, ukuran partikel, suhu air yang dipakai, metode, dan
                        waktu perebusan Kesalahan kecil dalam perebusan kopi dapat menyebabkan penurunan cita rasa.
                        Sebagai contoh, perebusan yang terlalu lama biasanya akan menimbulkan
                        rasa kopi yang terlalu pahit Oleh karena itu, bukanlah hal yang mudah untuk menyajikan kopi yang
                        baik.
                    </p>
                </li>
                <li>
                    <h4> Dekafeinasi </h4>
                    <p>Dekafeinasi atau penghilangan kafeina termasuk ke dalam metode tambahan dari keseluruhan proses
                        pengolahan kopi Dekafeinasi banyak digunakan untuk mengurangi kadar kafeina di dalam kopi agar
                        rasanya tidak terlalu pahit. Selain itu, dekafeinasi juga digunakan
                        untuk menekan efek samping dari aktivitas kafeina di dalam tubuh. Kopi terdekafeinasi sering
                        dikonsumsi oleh pecandu kopi agar tidak terjadi akumulasi kafeina yang berlebihan di dalam
                        tubuh. Proses dekafeinasi dapat dilakukan dengan melarutkan kafeina dalam
                        senyawa metilen klorida dan etil asetat
                    </p>
                </li>
            </ol>
        </section>

        <section id="jenis" class="card">
            <h2> Jenis-jenis Biji Kopi </h2>
            <p>
                Dari sekian banyak jenis biji kopi yang dijual di pasaran, hanya terdapat 2 jenis varietas utama, yaitu
                kopi arabika (Coffea arabica) dan robusta (Coffea robusta).
                Masing-masing jenis kopi ini memiliki keunikannya masing-masing dan pasarnya sendiri.
            </p>
            <ul>
                <li>
                    <h4> Kopi Arabika </h4>
                    <i> Biji kopi arbika, jenis kopi dengan cita rasa terbaik. </i>
                    <p>
                        Kopi arabika merupakan tipe kopi tradisional dengan cita rasa terbaik. Sebagian besar kopi yang
                        ada dibuat dengan menggunakan biji kopi jenis ini.
                        Kopi ini berasal dari Etiopia dan sekarang telah dibudidayakan di berbagai belahan dunia, mulai
                        dari Amerika Latin, Afrika Tengah, Afrika Timur, India, dan Indonesia.
                        Secara umum, kopi ini tumbuh di negara-negara beriklim tropis atau subtropis. Kopi arabika
                        tumbuh pada ketinggian 600–2000 m di atas permukaan laut. Tanaman ini dapat tumbuh hingga 3
                        meter
                        bila kondisi lingkungannya baik. Suhu tumbuh optimalnya adalah 18–26 C. Biji kopi yang
                        dihasilkan berukuran cukup kecil dan berwarna hijau hingga merah gelap. Selain itu, kopi arabika
                        juga
                        memiliki rasa dan aroma yang lebih nikmat, serta kandungan kafeinnya lebih rendah sehingga baik
                        untuk dikonsumsi. Kopi arabika memiliki aroma yang kuat, sifat kekentalan (body) ringan hingga
                        sedang dan tingkat keasaman tinggi. Selain itu, kandungan kafein kopi arabika lebih rendah
                        dibanding robusta yaitu sekitar 0,8–1,5%.
                    </p>
                </li>
                <li>
                    <h4> Kopi Robusta </h4>
                    <i> Biji kopi robusta, jenis kopi kelas 2. </i>
                    <p>
                        Kopi robusta pertama kali ditemukan di Kongo pada tahun 1898. Kopi robusta dapat dikatakan
                        sebagai kopi kelas 2, karena rasanya yang lebih pahit, sedikit asam, dan mengandung kafein dalam
                        kadar
                        yang jauh lebih banyak. Selain itu, cakupan daerah tumbuh kopi robusta lebih luas daripada kopi
                        arabika yang harus ditumbuhkan pada ketinggian tertentu. Kopi robusta dapat ditumbuhkan dengan
                        ketinggian
                        800 m di atas permuakaan laut. Selain itu, kopi jenis ini lebih resisten terhadap serangan hama
                        dan penyakit. Hal ini menjadikan kopi robusta lebih murah. Kopi robusta banyak ditumbuhkan di
                        Afrika Barat,
                        Afrika Tengah, Asia Tenggara, dan Amerika Selatan.
                    </p>
                </li>
                <li>
                    <h4> Kopi Luwak </h4>
                    <i> Biji kopi luwak hasil fermentasi alami di perut hewan luwak. </i>
                    <p>
                        Jenis kopi yang lain merupakan turunan atau subvarietas dari kopi arabika dan robusta. Biasanya
                        disetiap daerah penghasil kopi memiliki keunikannya masing-masing dan menjadikannya sebagai
                        suatu subvarietas.
                        Salah satu jenis kopi lain yang terkenal adalah kopi luwak asli Indonesi Kopi luwak merupakan
                        kopi dengan harga jual tertinggi di dunia. Proses terbentuknya dan rasanya yang sangat unik
                        menjadi alasan utama
                        tingginya harga jual kopi jenis ini. Pada dasarnya, kopi ini merupakan kopi jenis arabika. Biji
                        kopi ini kemudian dimakan oleh luwak atau sejenis musang. Akan tetapi, tidak semua bagian biji
                        kopi ini dapat dicerna
                        oleh hewan ini. Bagian dalam biji ini kemudian akan keluar bersama kotorannya. Karena telah
                        bertahan lama di dalam saluran pencernaan luwak, biji kopi ini telah mengalami fermentasi
                        singkat oleh bakteri alami di dalam
                        perutnya yang memberikan cita rasa tambahan yang unik.
                    </p>
                </li>
                <li>
                    <h4> Kopi Liberika </h4>
                    <p>
                        Jenis kopi yang satu ini memang belum terlalu banyak beredar di pasar kopi dunia karena memang
                        masih sangat sedikit produsen kopi yang mengembangkannya. Tapi jangan salah, kopi ini berasal
                        dari biji kopi Arabika dan Robusta
                        yang dipadukan sehingga menghasilkan kopi dengan cita rasa kelas dunia. Anda cuma bisa mendapati
                        jenis kopi ini di Liberia, Afrika. Harga kopi jenis ini juga tergolong cukup mahal karena
                        rasanya yang sangat lezat. Biasanya
                        jenis kopi ini dibuat menjadi kopi espresso dan latte. Mungkin inilah yang menjadi keunggulan
                        kopi liberika.
                    </p>
                </li>
                <li>
                    <h4> Kopi Excelsa </h4>
                    <p>
                        Kopi excelsa (Coffea excelsa) merupakan salah satu jenis kopi yang paling toleran terhadap
                        ketinggian lahan. Kopi ini bisa tumbuh dengan baik didataran rendah mulai 0–750 meter dpl. Pohon
                        kopi excelsa bisa menjulang hingga 20 meter.
                        Bentuk daunnya besar dan lebar dengan warna hijau keabu-abuan. Kulit buahnya lembut, bisa
                        dikupas dengan mudah oleh tangan. Selain itu, kopi excelsa juga tahan terhadap suhu tinggi dan
                        kekeringan. Kelebihan lain jenis kopi excelsa bisa
                        tumbuh baik di lahan gambut. Kalau di Indonesia sendiri, excelsa ditemukan secara terbatas di
                        daerah Tanjung Jabung Barat, Jambi.
                    </p>
                </li>
            </ul>
        </section>

        <section id="manfaat" class="card">
            <h2> Manfaat Kopi </h2>
            <p>
                Senyawa bioaktif yang terkandung di dalam kopi, selain memberikan dampak kesehatan pada tubuh, ternyata
                memberikan efek positif terhadap otak. Sebagian besar senyawa tersebut merupakan antioksidan dan
                beberapa nutrisi, seperti riboflavin (vitamin B2),
                niacin (vitamin B3), asam pantotenat (vitamin B5), mangan, kalium, serta magnesium.
            </p>
            <ul>
                <li>
                    <h4> Mengurangi Gangguan Fungsi Otak </h4>
                    <p>
                        Otak manusia berpotensi mengalami penurunan fungsi. Berbagai virus dengan mudah menyerang otak
                        Anda. Demensia dan Alzheimer, misalnya. Keduanya merupakan penyakit yang menyebabkan daya ingat
                        dan kemampuan berpikir manusia semakin menurun,
                        sehingga dapat mempengaruhi terhadap perubahan perilaku dalam menjalani aktivitas sehari-hari.
                    </p>
                </li>
                <li>
                    <h4> Mengurangi Risiko Diabetes Tipe 2 </h4>
                    <p>
                        Tahun 2009, beberapa peneliti di Australia menemukan manfaat kopi untuk mengobati diabetes.
                        Dalam penelitiannya yang dimasukkan dalam jurnal ‘Archives of Internal Medicine’, dinyatakan
                        bahwa setiap tambahan satu cangkir
                        kopi memberikan manfaat dalam mengurangi risiko diabetes tipe 2 hingga 7 persen.
                    </p>
                    <p>
                        Kandungan klorogenik dan alkaloid trigonelin pada kopi dapat mengurangi kadar glukosa dan
                        insulin dalam tubuh. Di samping itu, dalam mengonsumsi kopi dianjurkan untuk tidak menggunakan
                        campuran gula, susu dan creamer.
                    </p>
                </li>
                <li>
                    <h4> Menjaga Kanker </h4>
                    <p>
                        Kandungan asam klorogenik, kafein, serta fitoestrogen pada kopi bermanfaat dalam menurunkan
                        risiko kanker payudara. Selain itu, seseorang yang kerap mengonsumsi kopi setiap hari
                        memiliki risiko kanker mulut, esophagus, serta kerongkongan yang lebih rendah.
                    </p>
                </li>
                <li>
                    <h4> Melindungi Organ Hati </h4>
                    <p>
                        Mengonsumsi kopi hitam dipercaya meningkatkan kerja pada organ hati dan menurunkan risiko
                        terjadinya Kolangitis Sclerosing Primer yang dapat mengakibatkan Sirosis atau lebih dikenal
                        dengan gagal hati. Di sisi lain,
                        kopi juga dapat menurunkan risiko terjadinya kanker hati dengan mengonsumsi kopi paling tidak
                        tiga kali dalam sehari.
                    </p>
                </li>
                <li>
                    <h4> Mencegah Depresi </h4>
                    <p>
                        Beberapa peneliti dari Harvard School of Public Health menyatakan bahwa seseorang yang
                        mengonsumsi hingga tiga cangkir kopi dalam sehari, maka risiko depresi yang dialami 15 persen
                        lebih rendah.
                    </p>
                    <p>
                        Selama ini, kopi diketahui sebagai salah satu sumber energi, sehingga dapat menahan rasa kantuk.
                        Ternyata, tidak hanya itu, beberapa fakta kesehatan yang diberikan kopi hitam tersebut
                        membuktikan bahwa
                        dengan mengonsumsi kopi hitam bisa menguntungkan tubuh. Selain nikmat, kopi juga menyehatkan ya,
                        Gordian!
                    </p>
                </li>
            </ul>
        </section>
    </article>

    <aside>
    </aside>

    <footer>
        <p style="text-align: center;"> Dev By Salwa Az-Zahra Munir &#169; 2022 </p>
    </footer>
</body>

</html>